.btn-primary {
  background: #f79b71;
  border-color: #f79b71;

  &:hover {
    background: #f79b71;
    border-color: #f79b71;
  }
}

section {
  height: 100vh;

  .ratio {
    position: relative;
    &:after {
      content: '';
      background-color: #fff;
      background-image: url("https://gabirubi.s3.amazonaws.com/gabirubi.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    > video {
      opacity: 0;

    }
  }

  .controls {
    width: 50px;
    height: 50px;
    svg {
      width: 20px;
      height: auto;
      fill: #fff;
    }
  }
}